<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application>
        <service
            android:name=".service.SocksVpnService"
            android:exported="false"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:process=":socks_proxy">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <receiver android:exported="false" android:name=".broadcast.SocksProxyStatusBroadcast">
            <intent-filter>
                <!--下面的action配置需要与客户端发送广播的action保持一致-->
                <action android:name="com.ooimi.socket.proxy.status" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".page.VPNPermissionRequestActivity"
            android:exported="false"
            android:theme="@style/TranslucentStyle" />
    </application>
</manifest>